/*导航部分开始*/
.lt_category{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
img{
  display: block;
  width: 100%;
  height: 100%;
}
.lt_category li{
  width: 33.33%;
  float: left;
}
/*导航部分结束*/

/*产品部分开始*/

/*产品部分结束*/