.lt_search{
  padding: 10px;
  position: relative;
}
.lt_search input{
  padding: 10px;
  height: 33px;
  border-radius: 5px;
  border-color: #069;
  font-size:12px;
}
.lt_search button{
  position: absolute;
  right:10px;
  top:10px;
  border-radius: 0 5px 5px 0;
  background-color: #006699;
}
.lt_history{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 10px;
}
.lt_history .search_header{
  padding:0 10px;
}

.lt_history ul{
  margin:0 10px;
  border:1px dashed #ccc;
}
.lt_history li{
  padding-left:10px;
  height: 30px;
  line-height:30px;
  border-bottom:1px dashed #ccc;
}
.lt_history li:last-child{
  border-bottom:none;
}
.lt_history a{
  color: #666666;
  font-size:12px;
}